body {
    background: #111;
    color: #fff;
    font-family: Arial;
    text-align: center;
}
.container {
    width: 60%;
    margin: auto;
}
button {
    background: #ff2a6d;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 6px;
    cursor: pointer;
}
a {
    color: #00eaff;
}
